<% if (logined !== 'ADMIN') { %>
    <script>
        alert('권한이 부족합니다.');
        location.href = '/';
    </script>
<% } %>
<!-- 권한 및 로그인 확인 -->

<h3>사용자 수정</h3>
<% if (lists.length === 0) { %>
    <table class="table table-bordered ">
        <tr><td>내용 없음</td></tr>
    </table>
    <% } else { %>
        <% var i = 0;
        while(i < lists.length) { %>
        <table class="table table-bordered border-primary">
            <thead>
                <td>작성자</td>
                <td>제목</td>
                <td>날짜</td>
                <td>날짜</td>
            </thead>
            <tr>
                <td><%= lists[i].name %></td>
                <td><%= lists[i].title %></td>
                <td><%= lists[i].date %></td>
                <td><a href="">수정</a></td>
                <td><a href="">삭제</a></td>
            </tr>
        </table>
    <% i += 1 }} %>
    <% var j = 1;
    while (j < totalPages) { 
        if(j == pNum){ %>
            <span style="font-weight : bold;"><%=j%></span> &nbsp;&nbsp;
            <% } else { %>
                <span><a href="/board/view/<%=boardtypes[0].type_id%>/<%=j%>"><%=j%></a></span> &nbsp;&nbsp;
                <% } j++ } %>