<!-- 201935231 컴퓨터공학과 김용우 -->
<% if (act === 'v') { %>
    <h3>상품 조회</h3>
    <% if (lists.length === 0) { %>
        <table class="table table-bordered ">
            <tr><td>내용 없음</td></tr>
        </table>
        <% } else { %>
            <% var i = 0;
            while(i < lists.length) { %>
        <table class="table table-bordered ">
            <tr>
                <td><img src="<%=lists[i].image%>" style="width:100px;height:100px; "></td>
                    <td><%= lists[i].name %></td>
                    <td>가격: <%= lists[i].price %>
                    </td>
                    <td>브랜드: <%= lists[i].brand %></td>
                </tr>
            </table>
        <% i += 1 }} %>
<% } else { %>
    <% if (logined === 'NO') { %>
        <script>
            alert('로그인이 필요합니다.');
            location.href = '/';
        </script>
    <% } %>
    <% if (logined === 'USER') { %>
        <script>
            alert('권한이 부족합니다.');
            location.href = '/';
        </script>
    <% } %>
    <!-- 권한 및 로그인 확인 -->

    <h3>상품 수정</h3>
    <% if (lists.length === 0) { %>
        <table class="table table-bordered ">
            <tr><td>내용 없음</td></tr>
        </table>
        <% } else { %>
            <% var i = 0;
            while(i < lists.length) { %>
                <table class="table table-bordered ">
                    <tr>
                        <td><img src="<%=lists[i].image%>" style="width:100px;height:100px; "></td>
                        <td><%= lists[i].name %></td>
                        <td>가격: <%= lists[i].price %></td>
                        <td>브랜드: <%= lists[i].brand %></td>
                        <td><a href="/merchandise/update/<%= lists[i].mer_id %>">수정</a></td>
                        <td><a href="/merchandise/delete/<%= lists[i].mer_id %>" onclick='if(confirm("정말로 삭제하시겠습니까?")==false){ return false }'>삭제</a></td>
                    </tr>
                </table>
        <% i += 1 }} %>
<% } %>